---
layout: links.njk
---

<h2>About this site</h2>

<p>A little about this blog</p>

<ul>
  <li>📚 I write books!</li>
  <li>🎉 I love blogging</li>
  <li>💥 I built this site on top of <a href="https://www.11ty.dev/">Eleventy</a></li>
  <li>🌈 Thanks for reading!</li>

</ul>