---
layout: links.njk
---

<h2>Find me here!</h2>
<p>Visit my social media sites and say hello! 🎉 </p>

<div class="linkContent">
	<a class="linkFirstItem" href="https://twitter.com/gitForker">Twitter <i class="fa-brands fa-twitter"></i></a>
	<a class="linkItem" href="https://linkedin.in//teodoro-garcia-iii">LinkedIn <i class="fa-brands fa-linkedin-in"></i></a>
	<a class="linkItem" href="https://github.com/brew-o-doro">Github <i class="fa-brands fa-github-alt"></i></a>
	<a class="linkItem" href="https://www.amazon.com/dp/B0BZMD5G28">My Books <i class="fa-solid fa-book"></i></a>
	<a class="linkItem" href="https://podcasters.spotify.com/pod/show/codeblockpod">My Podcast<i class="fa-solid fa-podcast"></i></a>
</div>